
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matt Newell Videography</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" 
      type="image/png" 
      href="/../static/video-camera.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/../css/styles.css" rel="stylesheet">
</head>
<body>
 
    <!-- Nav Bar -->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand other-title">Videography by Matt Newell</a>
      <a class="navbar-brand big-title">Wedding and Event Videography</a>
      <a class="img-icon" href="https://www.instagram.com/matthewknewell/"><img src="/../static/instagram.png" width="25px" height="25px" alt="ig icon"></a>
      <a class ="img-icon" href="https://www.youtube.com/channel/UC1GhIZ_Luo8vLebXXhFStkA"><img width="25px" height="25px" src="/../static/yt.png"></a>
    </nav>
    <br>
    <iframe class="one" width="40%" src="https://www.youtube.com/embed/Et1GLiiDcKg?rel=0&loop=1&amp;autoplay=1&mute=1&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="two" width="40%" src="https://www.youtube.com/embed/mhwzdpF7FDg?rel=0&loop=1&amp;autoplay=1&mute=1&controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="three" width="40%" src="https://www.youtube.com/embed/kSOz9oqN0jQ?rel=0&loop=1&amp;autoplay=1&mute=1&controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="four" width="40%" src="https://www.youtube.com/embed/gauMpsWKePc?rel=0&loop=1&amp;&autoplay=1&mute=1&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- About Me Section -->
    <h2>About Matt Newell Videography</h2>
    <img class="selfie" src="/../static/matt.png">
    <div class="about-me-description">
      <p>
        I'm Matt Newell, As far as I can remember I have always loved cameras and documenting memories. I recently graduated with my Computer Science degree from Portland State University, all the while having a camera in one hand. Using quality gear and new cinematic tricks can enhance beautiful videos making each second sentimental and timeless, without taking away from the truth of the day. Staying affordable is important to me because recording high quality sound and video of your toasts, ceremony and day is something that I think couples should be able to look back on for years to come.
      </p>
    </div> <!--- about me section-->
  
</body>
  <footer>
	  <img  src="/../static/video-camera.png">
	  Contact <a href="mailto:matt@kentnewell.com?" target="_top">Matt@kentnewell.com</a> for inquiries
  </footer>
</html>

