<html>
    <head>
        <title>Matt | Programming Work & Photos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Alegreya|Questrial" rel="stylesheet">
        <link href="../css/styles.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
 	
	<div class="container">
	<h1>Wedding Packages and Pricing</h1>
	<ul>
		<div class="card">
		  <div class="card-body">
			 $350 <li> 5-10min Highlight Video</li><li>Drone shots of surround area </li><li>1 min teaser perfect for instagram </li><li>Full Raw Ceremony and speeches with high quality sound </li>
		  </div>	<!--card body-->
		</div>		<!--card-->

		<div class="card">
		  <div class="card-body">
			  $250<li>5-10 min Highlight Video</li><li> High quality sound of speeches and ceremony</li>
		  </div>
		</div>	<!--card-->
		<div class="card">
		  <div class="card-body">
		$199<li>Ceremony Recording for your memories</li>
		  </div>
		</div> <!--card-->

	</ul>

	<div class="row">
	    <div class="col">
	      <iframe width="100%" height="35%" src="https://www.youtube.com/embed/rLzhPMP-tKs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col">
	      <iframe width="100%" height="22%" src="https://www.youtube.com/embed/4zJTvZdbZdM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    </div>
	    <div class="col">
	      <iframe width="100%" height="22%" src="https://www.youtube.com/embed/rJdgTPuLKJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    </div>
	  </div>
	</div>
    </body>
</html
