<html>
    <head>
        <title>Matt | Programming Work & Photos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Alegreya|Questrial" rel="stylesheet">
        <link href="../css/styles.css" rel="stylesheet">
    </head>
    <body>
 	<div class="content">
		<h1>Wedding Packages and Pricing</h1>
	<ul>
		<li><p>$350 - 5-10min Highlight Video<br> Drone shots of surround area <br>1 min teaser perfect for instagram <br>Full Raw Ceremony and speeches with high quality sound</p> </li>
		<li><p>$250 - 5-10 min Highlight Video with high quality sound of speeches and ceremony</p></li>
		<li><p>$100 - Ceremony Recording for your memories</p> </li>

	</ul>

		<div id="fullRow">
		<iframe height=250px width=645px src="https://www.youtube.com/embed/rLzhPMP-tKs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<br>
		<div id="wrap">
			<div id="rowLeft">
			<iframe  src="https://www.youtube.com/embed/rJdgTPuLKJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div  id="rowRight">
			<iframe  src="https://www.youtube.com/embed/4zJTvZdbZdM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div> 
	</div>
	<div>Please Email Matt@kentnewell.com for other Inquires</div>
    </body>
</html
