@charset "utf-8";

.footerClass{
  position: absolute;
  bottom: 0;
  width: 100%; 
  background-color: lightgray;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.about-me-description{
    float:center;
    background-color: #cccccc;
    margin-right:5%;
    margin-left:5%;
    margin-top:8px;
}

.selfie{
    width:15%;
    min-width: 333px;
    max-width:333px;
}
.profilePic{
    width:88%;
    max-width: 333px;
    margin-top: 1rem;
}
.img-icon{
    margin-top: 20px;
    height:20;
}
.card{
    background-color:lightgray;
    margin-left: 15%;
    margin-right: 15%;
}

#canvas{
    float:center;
    background-color:lightgray;
}


