@charset "utf-8";

.footerClass{
  position: absolute;
  bottom: 0;
  width: 100%; 
  background-color: lightgray;
}
.container{
    max-width: 50%;
}
div, article, p, figure, figcaption, ul, nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.about-me-description{
    float:right;
    background-color: #cccccc;
    margin-right:7px;
    margin-left:7px;
    margin-top:10px;
}

.selfie{
    width:33%;
    min-width: 333px;
    height: 33%;
    float:center;
    background-color: #cccccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.profilePic{
    width:88%;
    max-width: 333px;
    margin-top: 1rem;
}
.img-icon{
    margin-top: 20px;
    height:20;
}
.card{
    background-color:lightgray;
}

#canvas{
    float:center;
    background-color:lightgray;
}


